OPENAI_API_KEY=
SMART_LLM=openai:gpt-4.1
FAST_LLM=openai:gpt-4o-mini
LLM_KWARGS={}
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=multi-agent-requirement-review-system
MARRDP_FEISHU_APP_ID=
MARRDP_FEISHU_APP_SECRET=
MARRDP_FEISHU_OPEN_BASE_URL=https://open.feishu.cn
